body{
    background-color:#6361DB ;
    font: normal 25px Monospace;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    text-align: center;
}
header
{
color: #D5E4E7;
}
section
{
background-color: #D5E4E7;
width: 500px;
max-height: 400px;
padding: 14px;
border-radius: 10px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
footer
{
font-style: italic;
margin-top: 70px;
}
#txt{
    margin-bottom: 15px;
    width: 200px;
    position: relative;
    margin: auto;
    margin-bottom: 12px;
    border-radius: 1px;
    line-height: 24px;
}

#inner-img{
    border-radius: 50%;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.4);
    margin: 10px;
}
